<% profiles.each do |profile| %>
    <p><%= link_to profile.name, profile_path(profile) %> -
      <%= profile.updated_at%> -
      Username: <%= profile.user.try(:username) %> -
      Name: <%= profile.game.try(:name) %></p>
<% end %>