<h1>Users!</h1>
<% @users.each do |user| %>
<h2><%= user.username %> </h2>
<h3><%= user.name %>'s Games</h3>
<% user.games.each do |game| %>
<%= link_to game.title, game_path(game) %><br><br>
<% end %>
<% end %>