<h1>All Played Games</h1>

<ul>
  <% @games.each do |game|%>
    <li>
      <%= link_to game.title.capitalize, game_path(game) %> -
      Game Rating: <%= game.rating %> -
      Difficulty Level: <%= game.difficulty_level %> 
        </li>
          <% end %>  
     </ul>

